div.background {
  width: 10rem;
  height: 6rem;
  background: url("../images/six/flat.gif") center center no-repeat;
  background-size: cover;
}
div.book {
  width: 10rem;
  background: white;
}
div.book h1 {
  margin-left: 0.7rem;
  line-height: 1rem;
}
div.book button {
  width: 2.53333333rem;
  height: 0.8rem;
  background: #ca4427;
  color: white;
  float: right;
  margin-right: 0.3rem;
}
div.book h2 {
  color: #525252;
  margin-left: 0.7rem;
}
div.book h3 {
  margin-left: 0.7rem;
  line-height: 0.8rem;
}
div.book h3 span.pricenow {
  color: #21b290;
}
div.book h3 span.originalprice {
  text-decoration: line-through;
  color: #525252;
}
div.evaluate {
  border-top: 1px solid #cccccc;
}
div.evaluate ul {
  width: 10rem;
  height: 1rem;
  background: white;
}
div.evaluate ul li {
  width: 3.33333333rem;
  line-height: 1rem;
  text-align: center;
  float: left;
}
[data-dpr="1"] div.book h1 {
  font-size: 16px;
  letter-spacing: 1px;
}
[data-dpr="2"] div.book h1 {
  font-size: 28px;
  letter-spacing: 1px;
}
[data-dpr="3"] div.book h1 {
  font-size: 55px;
  letter-spacing: 1px;
}
[data-dpr="1"] div.book h2 {
  font-size: 12px;
  letter-spacing: 1px;
}
[data-dpr="2"] div.book h2 {
  font-size: 24px;
  letter-spacing: 1px;
}
[data-dpr="3"] div.book h2 {
  font-size: 42px;
  letter-spacing: 1px;
}
[data-dpr="1"] div.book button {
  font-size: 12px;
  letter-spacing: 1px;
}
[data-dpr="2"] div.book button {
  font-size: 24px;
  letter-spacing: 1px;
}
[data-dpr="3"] div.book button {
  font-size: 42px;
  letter-spacing: 1px;
}
[data-dpr="1"] div.book h1 {
  font-size: 16px;
  letter-spacing: 1px;
}
[data-dpr="2"] div.book h1 {
  font-size: 28px;
  letter-spacing: 1px;
}
[data-dpr="3"] div.book h1 {
  font-size: 55px;
  letter-spacing: 1px;
}
[data-dpr="1"] div.book h3 span.pricenow {
  font-size: 16px;
}
[data-dpr="2"] div.book h3 span.pricenow {
  font-size: 30px;
}
[data-dpr="3"] div.book h3 span.pricenow {
  font-size: 56px;
}
[data-dpr="1"] div.evaluate ul li {
  font-size: 16px;
}
[data-dpr="2"] div.evaluate ul li {
  font-size: 28px;
}
[data-dpr="3"] div.evaluate ul li {
  font-size: 55px;
}
div.customerevaluate {
  width: 8.6rem;
  height: 8rem;
  margin-top: 0.3rem;
  margin-left: 0.7rem;
}
div.customerevaluate div.one {
  margin-top: 0.3rem;
  background: white;
}
div.customerevaluate div.one img {
  width: 1rem;
  height: 1rem;
  float: left;
}
div.customerevaluate div.one p.username {
  float: left;
  width: 7.6rem;
  height: 1rem;
}
div.customerevaluate div.one p {
  line-height: 0.5rem;
}
div.customerevaluate div.two {
  margin-top: 0.1rem;
  background: white;
}
div.customerevaluate div.two img {
  width: 1rem;
  height: 1rem;
  float: left;
}
div.customerevaluate div.two p.username {
  float: left;
  width: 7.6rem;
  height: 1rem;
}
div.customerevaluate div.two p {
  line-height: 0.5rem;
}
[data-dpr="1"] div.customerevaluate div.one p.username {
  font-size: 16px;
}
[data-dpr="2"] div.customerevaluate div.one p.username {
  font-size: 28px;
}
[data-dpr="3"] div.customerevaluate div.one p.username {
  font-size: 55px;
}
[data-dpr="1"] div.customerevaluate div.two p.username {
  font-size: 16px;
}
[data-dpr="2"] div.customerevaluate div.two p.username {
  font-size: 28px;
}
[data-dpr="3"] div.customerevaluate div.two p.username {
  font-size: 55px;
}
[data-dpr="1"] div.customerevaluate div.one p {
  font-size: 12px;
}
[data-dpr="2"] div.customerevaluate div.one p {
  font-size: 24px;
}
[data-dpr="3"] div.customerevaluate div.one p {
  font-size: 50px;
}
[data-dpr="1"] div.customerevaluate div.two p {
  font-size: 12px;
}
[data-dpr="2"] div.customerevaluate div.two p {
  font-size: 24px;
}
[data-dpr="3"] div.customerevaluate div.two p {
  font-size: 50px;
}
